.Join {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.JoinMain {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; 
  width: 100%;
}

.textSection {
  flex: 1;
  text-align: center;
  font-size: 49px;
  display: flex;
}

.textSection h1 {
  font-size: 49px;
  margin-bottom: 0.7rem;
  text-align: left;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.highlight {
  color: #ff007f;
}

.formSection {
  flex: 1;
  max-width: 400px;
  background-color: #1a1a1a;
  padding: 1rem 4rem 2rem 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.formSection label {
  display: block;
  margin: 0.5rem 0;
  line-height: 2.5rem;
}

.formSection input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #2F303A;
  border-radius: 4px;
  background-color: #2F303A;
  color: white;
}

.formSection button {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 111%;
}

.formSection button:hover {
  background-color: #0051cc;
}

.errorMessage {
  color: #ce8181;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.successMessage {
  color: #7db37d;
  font-size: 1rem;
  margin-top: 1rem;
  background-color: #1a1a1a;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}

.backgroundCircles::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 4;
  z-index: 1;
  width: 150px;
  height: 150px;
  background-color: #3457b21b;
  position: fixed;
  top: -8.5%;
  left: 18%;
}

.backgroundCircles::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 4;
  z-index: 1;
  width: 150px;
  height: 150px;
  background-color: #bc3a801a;
  position: fixed;
  bottom: -2%;
  left: -4%;
}

@media (width < 800px) {
  .JoinMain {
    flex-direction: column;
  }

  .backgroundCircles::before {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -9%;
  }
}




