
.BodyPageTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2F303A;
    color: white;
    font-family: Poppins;
    min-height: 100vh;
    padding: 5%;
}
.BottonsDiscover {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 2rem 0;
}

.Button {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #202027; 
    padding: 2rem;
    width:20%; 
}

.Button img {
    width: 100%; 
    height: auto;
    margin-bottom: 0.5rem; 
}

.Button p {
    color: white; 
    font-size: 1rem; 
    margin: 0; 
    text-align: center;
}

.Title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    align-self: flex-start;
    width: 90%;
}

h5 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
    width: 90%;
    font-family: Poppins;
}
.CenterImage {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.CenterImage img {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 1024px) {
    .BodyPageTwo {
        display: grid;
        gap: 40px;
        align-items: center;
        width: 90%; 
        max-width: 1400px;
        margin: 0 auto;
        text-align: left;
    }
    .LeftContainer {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .Title {
        font-size: 3rem;
        text-align: left;
        margin-bottom: 15px;
        width: 100%;
    }
    .BottonsDiscover {
        grid-column: 1 / 2;
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        margin-bottom: 15px;
    }
    .Button {
        width: 80px;
        padding: 0.5rem;
    }
    .Button img {
        width: 30px;
        height:auto;
    }
    h5 {
        grid-column: 1 / 2;
        font-size: 1rem;
        color: white;
        width: 90%;
        font-family: Poppins;
    }
    .CenterImage {
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .CenterImage img {
        width: 100%;
        max-width: 380px;
    }
}
