body {
  display: flex;
  background-color: #2f303a;
  font-family: Poppins;
  font-size: 1,2rem;
  color: white;
  overflow: hidden;
  min-height: 88vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}


